.row {
    min-height: 5rem;
    height: 300px;
}

.contHeader .row{
    margin-left: 0;
    margin-right: 0;
}
.contHeader h1{
    margin-left: 2rem;
    color: #ffb7bd;
}

header{
    display: block;
    min-height: 300px;
}

.container {
    align-items: center;
  }

  .main{
      padding-top: 1.25rem;
  }

.slide__image{
    height: 100%;
    left: 30%;
    width: 70%;
    position: absolute;
    top: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(90deg,#350a35 0%, rgba(15, 66, 176, 0) 100%), url(../images/AntelopeCanyon2.jpg);
}

svg{
    overflow: hidden;
    vertical-align: middle;
}

.contHeader{
    background-color: #350a35;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 999;
    opacity: 1;
    min-height: 300px;
    color:#ff843d ;
}


.contHeader .row {
    align-items: center;
}

.navbar-light .navbar-nav .nav-link{
    font-weight: bold;
    color:#cd9f90 !important;
}

.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: underline;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(205,159,144, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-light .navbar-toggler {
    border-color: rgb(205,159,144);
  } 

.contNav{
    background-color: rgba(0,0,0,0.4);
}
.contNav.opacity{       
    position: fixed;
    top:0;
    z-index:1000;
    width: 100%;
    opacity: 0.8;
    background-color: #350a35;
    color:#cd9f90;

  }

/*
Effet au niveau des blocs
*/

.diag1{
    fill: #e5bcc4;
    padding:0;
    margin-bottom:-3px;
    display:block;
}

.diag2{
    fill: #350a35;
    padding:0;
    margin-bottom:-3px;
    display:block;
    background-color: #e5bcc4;;   
    
}
.diag3{
    fill: #cd9f90;
    padding:0;
    margin-bottom:-3px;
    display:block;
    background-color:#342417;;   
    
}
.diag4{
    fill: #342417;
    padding:0;
    margin-bottom:-3px;
    display:block;
    background-color:#cd9f90;;     
}
.diag5{
    fill: #ffe0e3 ;
    padding:0;
    margin-bottom:-3px;
    display:block;
    background-color:#e5bcc4 ;;     
}

.sombre{
    padding: 3rem 0rem;
    background-color:#350a35 ;
    color: #cd9f90;
}

.premierParagraphe{
    padding-top: 4rem;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

.rose{
    background-color: #ffe0e3;
    color: #4e0f46;
}
#recherches{
    background-color: #e5bcc4;
    padding: 3rem 0rem;  
    color: #4e0f46;
}

/**
     CV
*/
.detail-cv{
    padding-left: 0;
}

.detail-cv .cv-annee{
    font-weight: bold;
}
.detail-cv li{
    display: flex;
    margin-bottom: 1rem;
}
.detail-cv li .cv-description{
    font-weight: bold;
    color: #861828;
}
.detail-cv li .cv-description span{
    display: initial;
    font-weight: initial;
}
.detail-cv li span{
    display: block;
}

/* RECHERCHES */

.motsCles{
    font-style: italic;
}

#recherches h4{
    margin: 2.5rem;
}

#recherches ul{
    list-style-type: none;
}
#recherches ul li i{
    position: relative;
    top: 6px;
    margin-right: 5px;
}

#recherches ul li .feminin{
    color: #9c5886;
}

/* PROJETS */

#projets ul li img{
    max-height: 90px;
    padding-left: 0.9375rem;
}

#projets .media-body{
    padding-left: 0.9375rem;
}
#projets ul{
    padding-left: 0;
    list-style-type: none;
}

#projets ul .media{
    padding: 1.25rem 0;
    border-bottom: 1px solid;
    display: block;
}



/* PUBLICATIONS */
.publications{
    min-height: 635px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(180deg, #350a35 0%, rgba(15, 66, 176, 0) 100%), linear-gradient(180deg, rgba(15, 66, 176, 0) 0%, #350a35 100%), url(../images/coucherSoleil.webp);
}

.publications h3{
    font-size: 21px;
}

.listePublications {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.listePublications li{
    display: block;
    /* flex: 0 0 24%; */
    flex: 0 0 100%;
    min-height: 100px;
    background-color: #ffe0e3;
    margin: 10px 5px;
    padding:10px;
    box-shadow: 0 12px 17px 2px rgba(255,227,227,0.20);
}

.listePublications li:hover{
    box-shadow: 0 12px 17px 2px rgba(255,227,227,0.50);
}

.listePublications li a{
    text-decoration: none;
}

.titrePublication{
    display: block;
    color: #350a35;
    font-weight: bold;
    margin-bottom: 10px;
    min-height: 100px;
}

.auteursPublication{
    display: block;
    color: #88396f;
    font-size: 14px; 
    padding-bottom: 10px;
    display: flex;
}
.auteursPublication i{
    font-size: 12px;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.journalPublication{
    display: block;
    font-size: 12px;
    color: #5c134f;
    display: flex;
    padding-bottom: 10px;
}

.anneePublication{
    display: block;
    font-size: 12px;
    color: #5c134f;
    display: flex;
}
.anneePublication i{
    font-size: 14px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.journalPublication i{
    font-size: 14px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.datePublication{
    font-weight: bold;
    font-size: 14px;
    font-style: italic ;
}

/* ENSEIGNEMENTS */

#enseignements{
    min-height: 500px;
    background-image: linear-gradient(180deg, #350a35 8%, #e5bcc4 12%);
    color: #4e0f46;
}

#enseignements h2{
    color: #cd9f90;
}

#enseignements .titreMatière{
    font-weight: bold;
    color: #861828;
}

#enseignements .listeMatieres{
    list-style-type: none;
    padding-left: 0;
}

#enseignements .listeMatieres > li{
    margin-bottom: 1rem;
}

/* RESPONSABILITES */

#responsabilites{
    background-color: #ffe0e3;
    color: #4e0f46;
    padding-bottom: 50px;
}

#backToTop{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    background-color: #195219;
    border-radius: 2.75rem;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 0.75rem;
    line-height: 0.875rem;
    vertical-align: middle;
}

#logos{
    background-color: #ffe0e3;
    height: 130px;
    text-align: right;
}

#logos img{
    max-width: 120px;
    /* float: right; */
}

/* FOOTER */

footer{
    min-height: 150px;
    background-color: #350a35;
    color: #cd9f90 ;
    padding-top: 20px;
}

footer i{
    position: relative;
    top: 6px;
    margin-right: 5px;
}
footer h2{
    text-align: left;
}

footer a{
    color: #cd9f90;
}

footer a:hover{
    color: #cd9f90;
}






@media(min-width: 576px){
    #projets ul li img{
        padding-left: 0rem;
    }
    
    #projets ul .media{
        display: flex;
    }
    .listePublications li{
        flex: 0 0 48%;
    }
    #enseignements{
        padding-top: 17px;
    }
    
}
@media(min-width: 768px){
    .detail-cv{
        padding-left: initial;
    }
    .listePublications li{
        flex: 0 0 31%;
    }
}
@media(min-width: 992px){
    .detail-cv{
        padding-left: initial;
    }
    .listePublications li{
        flex: 0 0 23%;
    }
    .listePublications {
        padding-left: 0;
    }
    #enseignements .listeMatieres{
        padding-left: initial;
    }
    #enseignements{
        padding-top: 52px;
    }
}
@media(min-width: 1024px){
    #enseignements{
        padding-top: 45px;
    }
}